.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-image: url(../images/footer-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50px;
  max-width: 100vw;
  color: #fafafa;
}

.footer__title {
}

.footer__button {
  padding: 10px 45px;
  color: #fafafa;
  background-color: #ab814d;
  border: none;
  border-radius: 10px;
}
