.form {
  max-width: 100%;
  padding: 10px 0 25px;
}

.form__input {
  display: block;
  background-color: #f5f3ec;
  border: none;
  border-radius: 5px;
}

.form-error {
  color: red;
}

#form-message {
  width: 250px;
  height: 100px;
}
