.services {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 20px;
  padding: 50px 0 0;
}

.services__card {
  justify-self: center;
  border: solid #f5f3ec;
  padding: 10px 10px 0;
}

.services__card_image {
  max-width: 250px;
  max-height: 372px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.services__card_text {
  display: block;
  max-width: 250px;
  height: auto;
}

.services__card_title {
  margin-bottom: 0;
  text-align: center;
}

.services__banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.services__banner_description {
  text-align: center;
  max-width: 850px;
}

@media screen and (max-width: 1000px) {
  .services {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 300px;
    padding: 25px 0 0;
  }

  .services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services__banner {
    max-width: 250px;
    margin: 0 auto;
  }
}
